.word-list {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  h2 {
    margin-bottom: 41px;
  }
  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 45px;
  }
}
